<div class="container mt-3">
    <div class="row">
        <div class="col">

            <p class="h3 fw-bold">My contacts
                <a class="btn btn-danger btn-sm" routerLink="/contacts/add">
                    <i class="fa fa-plus-circle"></i>
                    New</a>
            </p>

            <p class="fst-italic ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s,</p>

            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" placeholder="search user" type="text">
                            </div>
                            <div class="col">
                                <input class="btn btn-outline-dark" value="search" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<h1 class="text-center text-danger mt-3" *ngIf="contacts.length == 0">No data to fetch please add data </h1>
<!--loading spinner-->
<div *ngIf="loading"> 
<app-spinner> </app-spinner>
</div>



<!--cards  -->
<div *ngIf="!loading && contacts.length>0" class="container mt-3">
    <div class="row">
        <div *ngFor="let contact of contacts" class="col-md-6">
            <div class="card list-group-item-danger shadow-lg my-2">
                <div class="card-body">
                    <div class="row align-item:center">
                        <!--image avtar-->
                        <div class="col-sm-4">
                            <img alt="" class="contact-img" [src]="contact.photo">
                        </div>
                        <!--for data-->
                        <div class="col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">Name:<span class="fw-bold"> {{contact.name}}</span> </li>
                                <li class="list-group-item">Email:<span class="fw-bold"> {{contact.email}}</span> </li>
                                <li class="list-group-item">Mobile:<span class="fw-bold"> {{contact.email}}</span> </li>

                            </ul>
                        </div>
                        <!--button-->
                        <div id="cl" class="col-sm-1 d-flex   align-items-center">
                            <a class="btn btn-warning my-1" routerLink="/contacts/view/{{contact.id}}">
                                <i class="fa fa-eye"></i>
                            </a>

                            <a class="btn btn-primary my-1" routerLink="/contacts/edit/{{contact.id}}">
                                <i class="fa fa-pen"></i>
                            </a>

                            <a class="btn btn-danger my-1">
                                <i class="fa fa-trash-alt"(click)="delete(contact.id)"></i>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>